* {
  border: none;
}
.fa-github-square:hover,
.fa-github-square:hover ::after,
.fa-github-square:hover ::before {
  color: #333;
}

.fa-linkedin-square:hover,
.fa-linkedin-square:hover ::after,
.fa-linkedin-square:hover ::before {
  color: #0e76a8;
}

.fa-facebook-square:hover,
.fa-facebook-square:hover ::after,
.fa-facebook-square:hover ::before {
  color: #3b5998;
}

.Team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
    background: white;
}

.profile {
  box-shadow: 4px 8px 10px #123 !important;
}

.profile:hover {
  /* transform:scale(1.1,1.1); */
  box-shadow: 1px 2px 5px #123 !important;
  /* background: wheat; */
}
.jumbotrond {
  text-align: center;
  margin: 2% auto 2% auto;
}

.col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0;
  flex: 0 0;
  max-width: 100%;
  text-align: center;
  /* margin:'5px auto'; */
  margin-left: 5%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px; */
  /* margin-left: 5%!important; */
  /* width:92%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
}

.header {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

@media only screen and (min-width: 660px) {
}
