.activities{

    width: 100%;
    height: auto;
    
    background:white;
    padding:2.7rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities .title{
    width:80%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activities .title h3{
    font-size: 2rem;
    font-weight: 500;

}

.activities .section{

    width: 80%;
    height: 40vh;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2.7rem 0;
    transition: 0.3s ease-in-out;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activities .section.inverted{
    flex-direction: row-reverse;
    
}

@media only screen and (min-width: 660px ){

    .activities .section:hover{
        cursor: pointer;
        
        box-shadow: 0 8px 50px #038A86;
        -webkit-transform: scale(1.02);
         transform: scale(1.02);
        transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
        transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
        transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    }


}


.activities .section .image-div{

    width:30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activities .section .text{
    width:66%;
    height: 100%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    
}


.activities .section .image-div img{

    width: 80%;
    height:  90%;
    border-radius: 50%;
    border:1px solid #038A86;
}

@media only screen and (max-width: 660px){

    .activities .section,  .activities .section.inverted{

        width: 80%;
        height: auto;
        border: 1px solid black;
        margin: 2.2rem 0;
        transition: 0.3s ease-in-out;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .activities .section .text{
        width:90%;
        margin-bottom: 2rem;
    }

    .activities .section .image-div{
        width:100%;
    }

    .activities .section .image-div img{
        width: 257px;
        height: 257px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
