.home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p {
    width: 80%;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}



 