.navbar{
    width:100%;
    height: 60px;
    background: #4A4A4C;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
     z-index: 120;
}

.navbar .toggle-icon-div{
    width: 6%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}



.navbar .toggle-icon-div .menu-icon{
    width: 70%;
    height: 60%;
    color: white;
}

.navbar .pcon-home-btn{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .pcon-home-btn:hover{
    background: #038A86;
    cursor: pointer;
}

.navbar .pcon-home-btn span{
    color: #fff;
    font-size: 1.45rem;
}



@media only screen and (max-width:660px){

    .navbar .toggle-icon-div{
        width: 11%;
        padding-left: 0.2rem;
        
    }

    .navbar .pcon-home-btn{
        width: 20%;
       
    }

    .navbar .pcon-home-btn span{
        font-size: 1rem;
    }
}

.navbar .notification-btn{
    margin-left: auto;
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .notification-btn:hover{
    background: #038A86;
    cursor: pointer;
}

.navbar .notification-btn .notification-icon{
    width: 20%;
    height: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .notification-btn .notification-icon .bell-icon{
    width: 42%;
    height: auto;
    color:white;
     
}

.navbar .notification-btn .text{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar .notification-btn .text span{
    font-size: 1.1rem;
    color: #fff;
}

@media only screen and (max-width:660px){

    .navbar .notification-btn{
         
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }

    .navbar .notification-btn .text{
        visibility: hidden;
        width:0;
    }

    .navbar .notification-btn .notification-icon{
        width: 81%;
        height: 100%;
        
         
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
    }

    .navbar .notification-btn .notification-icon .bell-icon{
        width: 24px;
        height: auto;
        
    }

    .navbar .notification-btn .text span{
        font-size: 0.9rem;
    }
}