.rectangular-container{
    
    width:96vw;
    height: auto;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.6);
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     padding-top: 2rem;
  overflow: hidden;
   position: relative;
}

.rectangular-container .rectangular{
  width:100%;
  height:100%;
  background: transparent;
  z-index: 1;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rectangular-container .my-particle-bg{
  position: absolute;
  width:96vw;
  height: 100%;
  min-height: 200vh;
  top:0;
  background: #000;
}

.rectangular .social-media{
    height:8rem;
    width:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
     margin: 0;
    border-radius: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

  }
  
  .fa:hover {
     
      cursor: pointer;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github{
    background:  white;
    color: black;
    
  }

  .fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:white;
}

.rectangular .social-media a:hover{
    opacity: 0.9;
    color:white;
    transform: scale(1.08);
}

.rectangular .social-media a:nth-child(3):hover{
     opacity: 0.8;
     color: black;
}