.menu-item{

    width:100%;
    height:4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.menu-item .icon-div{
    width:25%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#038A86;
    
}

.menu-item .icon-div img{
    width:50%;
    height: auto;
    color:#038A86;
}

.menu-item .text-div{
    width:75%;
    height:100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
}

.menu-item .text-div .text{
    width:100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu-item .text-div .text span{
    color:#fff;
    font-size: 1.24rem;
}