.footer{
    width:80vw;
    height:10vh;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}

.footer .links{
    width:15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .links h4{
    font-size: 1rem;
}

.footer .credits{

}

