/*.App {
   
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
   
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
  font-family: 'Roboto Slab', serif;
   overflow-x:hidden;
    
}

body td{

  font-size: 18px;
}
 

a{
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

.message-box-button{
  position: fixed;
  z-index: 80;
  bottom: 20px;
  right: 20px;
  background: #038A86;
  width: 60px;
  height:60px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.message-box-button.dark{
  background: #4A4A4C;
}

.message-box-button:hover{
  cursor: pointer;
  background: #4A4A4C;
  
}

.container{
  width: 100%;
  height: auto;
  margin-top:  0px;
   
  
}

.container .content{
  width: 100%;
   height:auto;
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
   
}
